.preview {
	position: relative;

	margin-top: 8rem;
	padding: 40px 0;

	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
}

@media screen and (max-width: 1200px) {
	.preview {
		grid-template-columns: 1fr;
	}	
	.preview-images {
		grid-row: 1/ 2;
	}
}
@media (max-width: 768px) {
	.preview {
		padding-top: 0px;
	}	
}

.preview-images {
	max-width: 100vw;
	max-height: 630px;

	display: grid;
	grid-template-columns: 4fr 6fr;
	
	border-radius: 8px;
	overflow: hidden;
}

.preview-images-col-1 {
	display: flex;
	flex-direction: column;
}

.preview-images-col-1 > img:nth-child(1) {
	max-height: 60%;
}

.preview-images-col-1 > img:nth-child(3) {
	max-height: 40%;
}


.preview-image {
	max-width: 1040px;

	width: 100%;
	height: 100%;
	object-fit: cover;
}

.subtitle {
	margin-top: 0;
	font-size: 30px;
}

.preview-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	
	margin-bottom: 40px;
}
.preview-item {
	font-size: 20px;
}

@media screen and (max-width: 600px) {
	.subtitle {
		font-size: 20px;
	}	
}

.preview-info {
	max-width: 100vw;
	padding: 0 40px;
}

.preview-actions {
	max-width: 600px;
	display: grid;
	grid-template-columns: 1fr;
	
	gap: 30px;
}
.preview .preview-left-btn {
	grid-row: 3 / 4;
}
.preview .preview-middle-btn {
}

.preview-text {
	padding: 30px 25px;
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: var(--secondary-color);
	align-items: center;
	justify-content: center;
	text-transform: uppercase;

	font-size: 14px;

	text-align: center;
	font-weight: 500;
	color: var(--light-color);
	border-radius: 8px;

	transition: all;
	transition-duration: 300ms;
}

@media (max-width: 450px) {
	.preview-text {
		font-size: 10px;
	}	
}

.preview-text:hover {
	cursor: pointer;

	background-color: #78a2cd;
}

.preview-desc {
	position: relative;
	
	padding: 20px 0;
	font-size: 16px;

	transition: all;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;

	transform: translateX(0);
}

.close-btn {
	position: absolute;
	top: 0px;
	right: 0px;

	width: 40px;
	height: 40px;

	cursor: pointer;
}

.hidden {
	opacity: 0;
	transform: translateX(-100%);
}

.video-section {
	background-color: #EAF3FA;
	padding: 50px 20px;
}

.video-section-inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	justify-items: center;
	gap: 50px;
}
@media (max-width: 590px) {
	.video-section-inner {
		grid-template-columns: 1fr;
	}	
}
.video-title {
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	margin: 0;
}

.video-subtitle {
	font-weight: 400;
}
.btn-play {
	background: #0067d0;
    color: #fff;
    width: 80px;
    height: 80px;
    border: 1px solid #0067d0;
    border-radius: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 27px;
    cursor: pointer;
    display: flex;
	justify-content: center;
	align-items: center;
    transition: .15s ease-in-out;
	position: relative
}
.btn-play:hover {
	background-color: #eaf2f9;
	border-color: #373c40;
}
.btn-play-img {
	width: 40px;
	height: 40px;
}
.video {
	width: 100%;
}

.btn-play::before {
	    content: '';
    border: 1px solid;
    border-color: inherit;
    width: 150%;
    height: 150%;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    position: absolute;
    left: -25%;
    top: -25%;
    opacity: 1;
    -webkit-animation: 1s videomodule-anim linear infinite;
    animation: 1s videomodule-anim linear infinite;
}
@keyframes videomodule-anim {
	0% {
		transform: scale(0.68);
	}
	100% {
		transform: scale(1.2);
    opacity: 0;
	}	
}

.usage-section {
	background-color: var(--primary-color);
	color: white;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	text-align: center;

	padding: 100px 0;
}

@media screen and (max-width: 1280px) {
	.usage-section {
		padding: 40px 0;
	}	
}

.usage-title {
	font-size: 40px;
	margin-bottom: 40px;
}

.ways {
	list-style: none;
	padding: 0;

	display: grid;
	align-items: baseline;
	justify-items: center;
	grid-template-columns: repeat(6, 1fr);
	margin-bottom: 70px;
}

.usage-item {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: 20px;
	max-width: 200px;
}

@media screen and (max-width: 1580px){
	.ways {
		gap: 0px 50px;
		grid-template-columns: repeat(3, 1fr);
	}	
}

@media screen and (max-width: 1000px){
	.ways {
		grid-template-columns: repeat(2, 1fr);
	}	
}

@media screen and (max-width: 720px){
	.ways {
		grid-template-columns: repeat(1, 1fr);
	}	
}


.how-it-works {
	background-color: var(--secondary-color);

	color: white;
	padding: 50px 20px;

}
.works-description {
	margin: 1rem 0;
	font-size: 18px;
}

.how-it-works-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;

	justify-content: center;
}

@media screen and (max-width: 1040px) {
	.how-it-works-container {
		grid-template-columns: 1fr;
		padding: 50px;
		gap: 50px;
	}	
	.works-img {
		grid-row: 3 / 4;
	}

}

@media screen and (max-width: 500px) {
	.how-it-works-container {
		padding: 0;
	}	
}

.how-it-works-img {
	max-width: 1050px;
	width: 100%;
	border-radius: 18px;
}

.works-title {
	color: white;
	margin-bottom: 0;
}

.works-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.works-desc{
	font-size: 18px;
}

.advantages-title {
	margin: 20px 0;
}
.works-img {
	max-width: 600px;
	width: 100%;
	align-self: center;
	justify-self: center;
}

.works-list {
	display: flex;
	flex-direction: column;
}

.works-item {
	font-size: 20px;
}

.advantages {
	list-style: none;
	padding-left: 15px;

	display: flex;
	flex-direction: column;
}
@media screen and (max-width: 1040px) {
	.advantages {
		padding-left: 0;
	}
}

.advantages-item {
	display: flex;
	gap: 20px;
	align-items: center;
	color: white;
	justify-content: start;

	font-size: 20px;
}

@media screen and (max-width: 500px){
	.advantages-item {
		flex-direction: column;
	}	
}

.advantage-icon {
	max-width: 28px;
	aspect-ratio: 1 / 1;
}
.consists-title {
	margin-right: auto;
	margin-left: 20px;
}


.requirements {
	padding: 100px 20px;
}

.requirements-title {
	color: black;
	text-align: center;

	grid-area: title;
	margin-bottom: 30px;
}

.requirements-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.requirement-page {
	text-align: center;
	padding: 0 20px;

	display: flex;
	flex-direction: column;
	gap: 30px;
}
.requirement-page .requirement-page-img {
	border-radius: 0;
	width: 50px;
	height: 50px;
}

.requirements-list:nth-child(2) {
	grid-area: first;
}

.requirements-list:nth-child(3) {
	grid-area: second;
}

.requirements-list {
	padding-left: 20px;

	display: flex;
	flex-direction: column;
	gap: 20px;

	margin-bottom: 4rem;
}

.check-list-btn {
	max-width: 300px;
	margin: 0 auto;
	margin-top: 30px;
}

.checklist-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: center;
	justify-content: center;
	gap: 30px;
}
@media (max-width: 940px) {
	.checklist-container {
		grid-template-columns: 1fr;
	}	
}
.checklist-title {
	color: black;
	font-size: 28px;
}
.checklist-list {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.checklist-item {
	font-size: 18px;
}
.checklist-preview {
	width: 100%;
	max-width: 600px;
}

.requirements-item {
	font-size: 18px;
	width: 100%;
	height: fit-content;
	justify-self: center;
}


.requirements-icon {
	width: 30px;
	height: 30px;
}

.questions {
	padding: 120px 20px;

	background-color: #10B582;
	background-color: var(--secondary-color);
	color: #FDFDFD;
}

.question-title {
	color: #FDFDFD;
	font-weight: 58px;
	line-height: 120%;
}

.questions .hidden {
	display: none;
}
.question-back {
	display: flex;
	gap: 5px;

	font-size: 20px;
	align-items: baseline;
	cursor: pointer;
}
.question-back-icon {
	width: 20px;
	height: 20px;
	transform: rotate(180deg);
}
.question-desc {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.questions-desc-title {
	color: white;
	margin-bottom: 0;
}

.questions-inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	gap: 20px;
	align-items: center;
}

@media screen and (max-width: 1040px) {
	.questions-inner {
		grid-template-columns: 1fr;
		gap: 100px;
		justify-items: center;
	}	
}

.question-img-wrapper {
	border-top-right-radius: 150px;
	border: 1px dashed #FDFDFD;

	position: relative;
	width: 100%;
	max-width: 570px;
}

.question-img{
	width: 100%;
	border-top-right-radius: 150px;

	z-index: 1;
	position: relative;
	top: 30px;
	right: 30px;
}

.about-us {
	padding: 100px 20px;
}

.about-us-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.about-us-title {
	margin-bottom: 0;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
}

.about-us-subtitle {
	padding: 0;
	margin: 0;
	margin-top: 20px;

	font-size: 23px;
	text-align: center;
	font-weight: bold;
}

.about-us-info {
	padding: 0;
	margin: 0;
	margin-top: 40px;

	font-size: 20px;
}

.about-us-digits {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
}
.about-us-digits .gallery {
	overflow: hidden;
}
.gallery-page {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-us-list {
	list-style: none;
	padding: 0;
	margin-top: 100px;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 50px;
}

@media screen and (max-width: 1200px) {
	.about-us-list {
		grid-template-columns: 1fr 1fr;
	}
}

@media(max-width: 890px) {
	.about-us-list {
		gap: 10px;
	}
}

@media screen and (max-width: 750px) {
	.about-us-digits {
		grid-template-columns: 1fr;
	}
	.about-us-list {
		grid-row: 2 / 3;
		gap: 30px;
	}
}

@media (max-width: 550px) {
	.about-us-list {
		grid-template-columns: 1fr;
	}	
}

.about-us-item {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
	text-align: center;

	font-size: 20px;
	font-weight: 400;
	line-height: 28px;

	color: #5C5C5B;
	text-transform: uppercase;
}

.about-us-item-title {
	font-size: 24px;
	font-weight: bold;
	color: var(--primary-color);
}

.reasons-title {
	text-align: center;
	margin-top: 4rem;
}

.reasons-list {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.reasons-item {
	display: grid;
	grid-template-columns: 100px 20px 1fr auto;
	grid-template-rows: auto auto;
	max-width: 900px;

	align-items: end;
}

.reason-img {
	grid-column: 1 / 2;
	grid-row: 1 / -1;

	width: 100px;
	height: 100px;

	box-sizing: border-box;
	object-fit: cover;

	border-radius: 20px;
	filter: drop-shadow(0px 8px 25px rgba(224, 219, 196, 0.90));
}

.reason-title {
	grid-column: 3 / 4;
	grid-row: 1 / 2;

	color: black;
	font-size: 24px;
}

.reason-info {
	align-self: center;
	grid-column: 3 / 4;
	grid-row: 2 / 3;

	margin: 0;
	padding: 0;

	font-size: 18px;
	font-weight: 400;
	color: black;
}

@media (max-width: 850px) {
	.reason-title {
		font-size: 18px;
	}	
	.reason-info {
		font-size: 16px;
	}
}

@media (max-width: 560px) {
	.reason-title {
		line-height: normal;
		font-size: 16px;
	}	
	.reason-info {
		font-size: 14px;
	}
}

@media (max-width: 470px) {
	.reasons-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 20px;
	}	
}

.our-projects {
	padding: 100px 20px;
	background-color: var(--secondary-color);
}

.projects-title {
	color: white;
}

.projects-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	flex-direction: column;
}

.carousel {
	margin: 0 auto;
}
.carousel-page {
	width: 100%;
	height: 100%;
	overflow: hidden;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 18px;
}

.carousel-page img{
	height: 100%;

	object-fit: cover;
	border-radius: 18px;
}

.faq-inner {
	padding: 20px;
	margin-top: 100px;
}

.faq-list {
	list-style: none;
	
	display: flex;
	flex-direction: column;
	gap: 30px;
}

@media (max-width: 570px) {
	.faq-list {
		padding: 0;
	}	
}

.additional-council {
	text-align: center;

	padding: 20px;
	margin-top: 100px;
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;

	align-items: center;
	justify-content: center;
}
.additional-council-wrapper {
	background-color: var(--secondary-color);
}
.additional-council-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}

.additional-council-title {
	color: white;
}

.additional-council-btn {
	max-width: 400px;
}


.additional-council-img {
	width: 100%;
}
@media (max-width: 800px) {
	.additional-council {
		grid-template-columns: 1fr;
		justify-items: center;
	}	
	.additional-council-img {
		max-width: 600px;
	}
}

@media screen and (max-width: 600px){
	.additional-council-img {
		max-width: 100vw;
	}
}
