.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: white;

	padding: 20px 32px;
	box-shadow: 0px 2px 4px grey;

	position: fixed;
	z-index: 20;
	height: fit-content;
	width: 100vw;
}



@media screen and (max-width: 1330px) {
	.header {
		display: grid;
		gap: 20px;
		grid-template-columns: auto 1fr;
	}
	.connect {
		grid-row: 1 / 2;
		grid-column: 2 / 3;
		justify-self: start;
	}

	.navigation {
		grid-column: 1 / -1;
	}
	
}


.logo {
	width: 80px;
	height: 80px;

	margin-left: 20px;
}

.navigation {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px 32px;

	margin-left: 30px;
}

@media screen and (max-width: 1600px){
	.navigation{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}	
}

@media screen and (max-width: 980px) {
	.navigation{
		grid-template-columns: repeat(3, 1fr);
	}	
}

@media screen and (max-width: 768px) {
	.navigation{
		grid-template-columns: repeat(1, 1fr);
	}	
}


.link {
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	transition-duration: .2s;
	transition-property: all;

	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
}

.link.active {
	font-weight: 700;
}

.link:hover {
	text-decoration: underline;
	padding-top: 10px;
}

.menu {
	display: none;
	cursor: pointer;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	transition: all;
	transition-timing-function: ease-in-out;
	transition-duration: 300ms;
	background-color: black;

	border-radius: 4px;
}
.nav-connect {
	display: none;
}

@media(max-width: 768px) {
	.header {
		flex-direction: row;
		align-items: center;
		box-shadow: 0px 2px 4px grey;
	}
	.connect {
		display: none;
	}

	.nav-connect {
		margin-top: 20px;
		display: block;
		justify-self: center;
	}


	.menu {
		grid-column: 3 / 4;
	}
	.menu {
		display: block;
	}

	.menu.active .bar:nth-child(2) {
		opacity: 0;
	}
	.menu.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.menu.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.navigation {
		position: fixed;
		margin: 0;
		left: -100%;
		top: 100px;
		gap: 20px;
		background-color: white;
		width: 100%;
		text-align: center;
		transition: 0.3s;
		padding: 20px 0;
		padding-bottom: 40px;
		box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
	}
	.navigation.active {
		left: 0;
	}
}
