.textarea {
	border: 1px solid var(--secondary-color);
	outline: none;
	resize: none;

	width: 100%;
	padding: 16px 22.5px;
	margin: 0;
	background-color: none;
	
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: var(--text-secondary-color);


	transition: all .2s ease-in-out 0s;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.textarea::placeholder {
	color: #828282;
	position: relative;
	bottom: 0;

	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.textarea:focus{
	border: 1px solid var(--primary-color);
}

.textarea:focus::placeholder {
	font-size: 8px;
	font-weight: 500;
	line-height: 18px;

	bottom: 16px;
}
